body{
    color: rgb(248, 12, 12);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiN3QKxGgwpzuezXILOxeVw8khih6R62jWrQ&s");

}

header {
    background:green;
    color:gold;

}
